<configuration>
	<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>

		<!-- Define the file name and its rolling policy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Log file location and daily rollover -->
			<fileNamePattern>${user.home}/Documents/%d{yyyyMMdd}/alba.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- Define Console Appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<!-- Attach both file and console appenders to the root logger -->
		<appender-ref ref="ROLLING_FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
